![title](img/002.png)

<p style="text-align: center;"><font size="7"> * * * </font></p>
<hr style="height:2px; background-color: rbg(0,0,0);">

# #1

In [1]:
print("Hi all! o/")

Hi all! o/

In [222]:
a = divmod(22, 10)
print(a)
b, c = divmod(222, 100)
print(b, c)

(2, 2)
2 22

In [5]:
big_amount = 22_000_000
print(big_amount)

22000000

In [10]:
big_number = 222 ** 222
print(big_number)

77689142522643953432857984943405160607459375066866993426360941500585379496167494554414812738317551290610125506942363201912811852077589887445080329133236084882706758976853160280299220802735308699614184679198052359338219884186570298955013643597740982700186080103802243114935671443344639972611689529406831778230237557486483970597676232979670032540178649466573489259451610193432410434961292070905832062516015156301535032295736862042589225660949159580073017293290337975775881136212936121912254638873440212608666735186892816384

In [11]:
type(big_number)

int

In [99]:
from decimal import Decimal
print(0.1 + 0.2)
print(.1 + .12)
print(Decimal('0.1') + Decimal('0.2'))

0.30000000000000004
0.22
0.3

In [23]:
print(int('12dwfwef'))

ValueError: invalid literal for int() with base 10: '12dwfwef'

In [35]:
print('XXX' < 'XXXX',
      'XXX' > 'XXXX',
      'XXX' == 'XXX',
      'XXX' is 'XXX',
      'XXX' + 'XXX',
      'X' * 3,
     )

True False True True XXXXXX XXX

In [56]:
s1 = '22'
print(id(s1))

s1 = s1 + '2'
s1 += '2'
print(id(s1))

4507786184
4514204336

In [55]:
string = string + '22'
string += '22'
print(id("First str_id: "+ string))

4514656952

In [58]:
print(s1[0], s1[1], s1[3])

2 2 2

In [84]:
string = '123456789'
print("LEN=" + str(len(string)),
      string,
      string[::-1],
      string[-1] + string[-2],
      string[-1] + string[7],
      string[8] + string[7],
     )

LEN=9 123456789 987654321 98 98 98

In [130]:
tag_list = 'CC, XX, II, 222'
splitted = tag_list.split(', ')
print(splitted)
print("\n".join(splitted))

['CC', 'XX', 'II', '222']
CC
XX
II
222

### Placeholder

In [123]:
word = 'CCXXII'
print("Number is: {}{}".format(word, ' - NEW FORMAT'))

form2 = 'NEWEST'
print(f'\nNumber is: {word} - {form2}')

form = 'OLD FORMAT'
print('\nNumber is: %s - %s' % (word, form))

Number is: CCXXII - NEW FORMAT

Number is: CCXXII - NEWEST

Number is: CCXXII - OLD FORMAT

In [146]:
a = '\t --XXX----- \n'
print(a)
print(a.strip())
print(a.strip().strip('-'))

	 --XXX-----

--XXX-----
XXX

In [142]:
input_str = ' 231 12342213 2365757484 4664545'
print(input_str)
mod_str = input_str.replace(' ', 'x')
print(mod_str)

 231 12342213 2365757484 4664545
x231x12342213x2365757484x4664545

In [148]:
'th' in 'Python'

True

In [152]:
print(0 or 1)
print(5 or 1)

1
5

In [223]:
import random
number = random.randint(0, 22)
result = 'OK' if number <= 15 else "WARNING!!!"
print(f'>>> {number} - {result}')

>>> 18 - WARNING!!!

In [264]:
for letter in 'python':
    print(letter, end = ', ')
print()

p, y, t, h, o, n,

In [281]:
word = 'python'

for letter in range(len(word)):
    print(f'{letter}[{word[letter]}]', end = " ")

print()

for idx, letter in enumerate('PYTHON'):
    print(f'{idx}[{letter}]', end = " ")

0[p] 1[y] 2[t] 3[h] 4[o] 5[n]
0[P] 1[Y] 2[T] 3[H] 4[O] 5[N]

In [252]:
for x in range(22, 2, -2):
    print(x, end = ', ')

print()

for x in reversed(range(22, 2, -2)):
    print(x, end = ', ')

22, 20, 18, 16, 14, 12, 10, 8, 6, 4,
4, 6, 8, 10, 12, 14, 16, 18, 20, 22,

In [284]:
int('FFFFFF', 16)

16777215

In [287]:
for num in range(16, 22):
    result = ''
    
    if num % 3 == 0:
        result += 'Fizz'
    if num % 5 == 0:
        result += 'Buzz'

    print(result or num, end = ", ")

16, 17, Fizz, 19, Buzz, Fizz,

<hr style="height:2px; background-color: rbg(0,0,0);">
<br>
<p style="text-align: center;"><font size="7"> * * * </font></p>

# #2

In [13]:
empty_list = []
empty_list = list()
not_empty_list = list([22, 222, 2222])
not_empty_list = [22, 222, 2222]
list_one = [None] * 5
list_two = [2, 22, 222] * 5
list_three = [True, None, 22, 'XXII']
print(f'list_one = {list_one}')
print(f'list_one = {list_two}')
print(f'list_one = {list_three}')

list_one = [None, None, None, None, None]
list_one = [2, 22, 222, 2, 22, 222, 2, 22, 222, 2, 22, 222, 2, 22, 222]
list_one = [True, None, 22, 'XXII']

In [18]:
benchmark_list = []
%timeit -n10000 benchmark_list.append("XXII")

242 ns ± 52.8 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [19]:
benchmark_list = []
%timeit -n10000 benchmark_list.insert(0, "XXII")

The slowest run took 10.69 times longer than the fastest. This could mean that an intermediate result is being cached.
41.5 µs ± 23.3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [22]:
test_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(test_list)
del test_list[-1]
print(test_list)
del test_list[0:3]
print(test_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]

In [36]:
example_list = [x for x in range(1, 11)]
print(example_list)
print(example_list[1:-1])
print(example_list[1:len(example_list):2])
print(example_list[6:])
print(example_list[-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10]
[7, 8, 9, 10]
10

In [50]:
list_test = [x for x in range(0, 11)]
print(list_test)

another_list = list_test
print(another_list)

another_list[0] = 22
print(f'\nlist_test    = {list_test}')
print(f'another_list = {another_list}')

list_test_2 = [x for x in range(0, 11)]
print()

list_test_3 = list_test_2[:] # Копирование через срез
list_test_3[0] = 1
print(f'list_test_2 = {list_test_2}')
print(f'list_test_3 = {list_test_3}')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_test    = [22, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
another_list = [22, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list_test_2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_test_3 = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<font size="5"> * * * </font>
#### SHALOW COPY

In [56]:
nested_list = [1, 2, 3, 4]
example_list = [nested_list, 1, 2, 3, 4]
another_list = example_list[:]
print(f'    another_list = {another_list}')
nested_list.append(22)
print(f'now another_list = {another_list}')

    another_list = [[1, 2, 3, 4], 1, 2, 3, 4]
now another_list = [[1, 2, 3, 4, 22], 1, 2, 3, 4]

#### deepcopy

In [57]:
from copy import deepcopy
nested_list = [1, 2, 3, 4]
example_list = [nested_list, 1, 2, 3, 4]
another_list = deepcopy(example_list)
print(f'    another_list = {another_list}')
nested_list.append(22)
print(f'now another_list = {another_list}')

    another_list = [[1, 2, 3, 4], 1, 2, 3, 4]
now another_list = [[1, 2, 3, 4], 1, 2, 3, 4]

<font size="5">* * *<font/>

In [60]:
unsorted = [6, 3, 1, 7, 0, 2]
print(sorted(unsorted))
print(unsorted)

[0, 1, 2, 3, 6, 7]
[6, 3, 1, 7, 0, 2]

#### Вывести в одну строку все цифры от 0 до 100

In [64]:
for x in range(0, 101):
    print(x, end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [63]:
print(",".join(str(item) for item in range(101)))

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100

In [65]:
five_num_tuple = [1, 2, 3, 4, 5]
a, b, c, d, e = five_num_tuple
print(a, b, c, d, e)

1 2 3 4 5

In [69]:
hash((1, 2, 3))

2528502973977326415

In [70]:
search_list = list(range(100000))
search_dict = dict.fromkeys(list(range(100000)))

In [72]:
%timeit -n10000 0 in search_list

106 ns ± 45 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [73]:
%timeit -n10000 0 in search_dict

125 ns ± 31.9 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [77]:
%timeit -n1000 99999 in search_list

3.1 ms ± 21.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [78]:
%timeit -n10000 99999 in search_dict

206 ns ± 43 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [82]:
d1 = {"a": 22, "b": 222, "f": "FIRST"}
d2 = {"c": "XXII", "d": "CCXXII", "f":"SECOND"}
d1.update(d2)
print(d1)

{'a': 22, 'b': 222, 'f': 'SECOND', 'c': 'XXII', 'd': 'CCXXII'}

In [92]:
elements = [2, 22, 2, 22, 2, 22, 4, 3, 55, 5, 5, 44, 3]
solutions_dict = {}

for item in elements:
    if item in solutions_dict:
        solutions_dict[item] = solutions_dict.get(item, 0) + 1
    if not solutions_dict.get(item, None):
        solutions_dict[item] = 1
for key, value in solutions_dict.items():
#    if value is 1:
        print(f'[{key}]-{value}')

[2]-3
[22]-3
[4]-1
[3]-2
[55]-1
[5]-2
[44]-1

In [103]:
item_list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
item_list_2 = [item + 1 for item in item_list_1]
item_list_3 = [item + 1 for item in item_list_2 if item % 2]
print(f'{item_list_1}\n{item_list_2}\n{item_list_3}')

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 6, 8, 10]

In [106]:
first_list = [(1, 2), (3, 4), (5, 6)]
first_dict = {key: value + 1 for key, value in first_list}
print(first_dict)

{1: 3, 3: 5, 5: 7}

#### SET

In [115]:
another_set = {3, 33, 333, 4, 44}
example_set = {2, 22, 222, 4, 44}
print(example_set)
example_set.add(222)
print(example_set)

{2, 4, 44, 22, 222}
{2, 4, 44, 22, 222}

In [117]:
print(example_set.difference(another_set))
print(example_set.union(another_set))
print(example_set.intersection(another_set))

{2, 222, 22}
{33, 2, 3, 4, 44, 333, 22, 222}
{4, 44}

In [119]:
list(example_set)[3]

22

In [126]:
online_users = {'Bob', 'Max', 'Frank', 'Bill', 'Sam'}
admin = {'Sam', 'Max', 'Freddy', 'Tomas'}
admin_online = online_users.intersection(admin)
print(admin_online)

{'Sam', 'Max'}